#book-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
.book-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
  }
#bookForm {
  display: none;
}